html,body {
}

body{
	background-image:url("jazz.gif");
	background-attachment:fixed;
	}

*	{
	font-family:Montserrat, Arial, san-serif;
	}

.myname	{
	font-family:Montserrat, Arial, san-serif;
	font-size:300%;
	color:white;
	
	}

.sticky {
	position:-webkit-sticky; /* Safari */
	position:sticky;
	top:0;
	}

div.jazz {
	background-image:url("jazz.gif");
	z-index:0;
	}

.headerbutton {
	z-index:30;
	display:flex;
	flex-direction:column;
	border:0px;
	width:100px;
	height:150px;
	margin:0px 10px;
	margin-left:auto;
	order:2;
	text-align:center;
	color:white;
	text-align:center;
	display:inline-box; 
	border-radius:0px;
	}

.headerbuttonextension {
	z-index:29;
	display:flex;
	flex-direction:column;
	border:0px;
	width:100px;
	margin:0px 10px;
	margin-left:auto;
	order:2;
	}

.text {
	background-color:rgba(255, 255, 255, 0.9);
	padding:50px;
	width:60%;
	margin:20px 0px;
	}

.link {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	}
	
.carouselsize {
	width:100%;
	height:720px;
	opacity:0.8;
	}  

button.padding {
	padding:auto;
	}

.red {
	background-color:red;
	}
	
.green {
	background-color:green;
	}
	
.blue {
	background-color:blue;
	}

.black {
	background-color:black;
	border:0px solid coral;
	border-spacing:0px;
	margin:0px;
	padding:0px 50px 0px 250px; 
	z-index:50;
	}
